<ol class="breadcrumb">
  <li><a ui-sref="home">Projects</a></li>
  <li>
    <span class="dropdown" dropdown >
      <a href class="dropdown-toggle" dropdown-toggle>
        Members
      </a>
      <ul class="dropdown-menu">
        <li>
          <a ui-sref="members({projectId:ctrl.project.id})">All</a>
        </li>
        <li>
          <ul class="list-group" ng-repeat="team in ctrl.teams">
            <li class="list-group-item active" >
              {{team.name}}
            </li>
            <li class="list-group-item" ng-repeat="member in team.members | orderBy:'person.name'">
              <img class="img-responsive" width="30" ng-src="{{member.person.imageUrl}}"> <a ui-sref="member({projectId: ctrl.project.id, memberId:member.person.id})"><small>{{member.person.name}}</small></a>
            </li>
          </ul>
        </li>
       
      </ul>
    </span>

  </li>

  <li class="active">{{ctrl.member.person.name}}</li>
</ol>
<div class="container">
  
  <hs-member-card project="ctrl.project" member="ctrl.member" query="ctrl.query" selected-label="ctrl.filter.label" selected-state="ctrl.filter.state"></hs-member-card>
   

  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-1">
               <a ng-click="ctrl.showDescriptions();">
                <i class="fa fa-2x" tooltip="Show descriptions" ng-class="ctrl.show.description?'fa-caret-square-o-down':'fa-caret-square-o-up'"></i>
              </a>
            </div>
             <div class="col-md-3">
              <h3 class="panel-title">Current stories ({{filteredStories.length}}) <small ng-if="ctrl.filter.state.current_state">Filter: {{ctrl.filter.state.current_state | ucfirst}}</small></h3>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="list-group" >
            <div class="list-group-item" ng-repeat="story in filteredStories = (ctrl.query.stories.stories |filter:ctrl.filter.state:ctrl.filter.strict()|filter:ctrl.labels(ctrl.filter.label)| orderBy:['story_type','created_at']:true)">
              <div class="row" >
                 <div class="col-lg-1">
                    <i ng-if="story.story_type=='feature'" class="fa fa-2x fa-star text-warning" tooltip="Feature"></i>
                    <i ng-if="story.story_type=='chore'" class="fa fa-2x fa-cog text-info" tooltip="Chore"></i>
                    <i ng-if="story.story_type=='bug'" class="fa fa-2x fa-bug text-danger" tooltip="Bug"></i>
                    <i ng-if="story.story_type=='release'" class="fa fa-2x fa-flag-checkered" tooltip="Release"></i>
                    <i ng-if="story.story_type=='feature' && !story.estimate" class="fa fa-exclamation-triangle fa-2x text-danger" tooltip="Need estimation"></i>
                </div>
                <div class="col-lg-6">
                    <p class="lead">{{story.name}}</p>
                    <p ng-show="ctrl.show.description" class="animated" ng-class="{'fadeIn':ctrl.show.description}"><small>{{story.description}}</small></p>
                    <p>
                      <small class="text-warning" ng-repeat="label in story.labels">
                        <strong>{{label.name}}{{$last ? '' : ', '}}</strong>
                      </small>
                    </p>
                </div>
                <div class="col-lg-2">
                  <hs-state-label state="{{story.current_state}}"/>
                </div>
                <div class="col-lg-2">
                  <small>Created: <span am-time-ago="story.created_at"></span></small>
                  <small>Updated: <span am-time-ago="story.updated_at"></span></small>
                </div>
                
                <div class="col-lg-2">
                  <a target="_blank" href="https://www.pivotaltracker.com/story/show/{{story.id}}">{{story.id}}</a>
                </div>
              </div>
          </div>
          <div ng-show="filteredStories.length==0">
            <div class="bs-callout bs-callout-default" >
              <h4>No results for [{{ctrl.filter.state}}]</h4>
            </div>
          </div>
        </div>
      </div>
    </div>



</div>
